/* custom variables */
:root {
    --primary-color: #4E342E;
    --secondary-color: #757575;
    --light-color: #212121 ;
    --dark-color: #D84315;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

  /*Fonts*/
  
  @font-face {
    font-family: 'ZuumeRough';
    src: url('../fonts/FontsFree-Net-zuumerough-regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ZuumeRoughbold';
    src: url('../fonts/FontsFree-Net-zuumerough-bold-2.ttf') format('truetype');
  }
  
  @font-face{
    font-family: 'Lora';
    src: url('../fonts/FontsFree-Net-Lora-Regular.ttf') format('ttf');
  }

  .custom-h1{
    font-family: 'ZuumeRoughbold';
    font-size: clamp(30px, 8vw, 60px);
    color: var(--primary-color);
  }

  .custom-h2{
    font-family: 'ZuumeRoughbold';
    font-size: clamp(20px, 8vw, 50px);
    color: var(--primary-color);
  }
  .custom-h3{
    font-family: 'ZuumeRoughbold';
    font-size: clamp(20px, 6vw, 30px);
    color: var(--primary-color);
  }
  .custom-h4{
    font-family: 'ZuumeRoughbold';
    font-size: clamp(20px, 8vw, 50px);
    color: var(--light-color);
  }
  .custom-h5{
    font-family: 'ZuumeRoughbold';
    font-size: clamp(20px, 5vw, 30px);
    color: var(--light-color);
  }

  p{
    font-family: 'Lora';
    font-size: clamp(15px, 4vw, 20px);
    color: var(--light-color);
  }


  /* Custom Bootstrap Primary Button */
.btn-primary {
  background-color: rgba(117, 117, 117, 0.1);  /* Custom background color */ 
  font-family: 'ZuumeRoughbold';
  color: var(--primary-color);
  border-color: var(--dark-color);
  font-size: 18px;            /* Increase font size */
  padding: 10px 20px;         /* Adjust padding */
  border-radius: 8px;         /* Rounded corners */
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--secondary-color);  /* Darker shade on hover */
  border-color: var(--light-color);
  color: var(--dark-color);
  transform: scale(1.05);    /* Slight zoom effect */
}
  

section:nth-child(2n+1){
  background-color: rgba(117, 117, 117, 0.1);
  
}

@media (min-width: 768px) {
  #about, #products, #footer, #recent-endevours, #customCarousel, #latest-expeditions,#latest-expedition, #custom-rides,#about,#achievements,#instagram,#gallery,#hero-e,#contact,#carousel-press{ 
      margin-left: 190px;
    }
}

  
.hero  {
    background: url('../img/IMG_20230914_124753.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.hero img{
  padding-top:0px;
  width: 20vw;
  height: auto;
}


.custom-top {
  top: 62%; /* Default: 80% for small devices */
}

/* For medium (md) and large (lg) screens */
@media (min-width: 768px) {  /* Bootstrap `md` breakpoint */
  .custom-top {
      top: 58%;
  }
}


.hero-abt {
  background: url('../img/hgt.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-abt img{
  padding-top:0px;
  width: 22vw;
  height: auto;
}

.hero-three {
  background: url('../img/1682942117524 (1).jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-three img{
  padding-top:0px;
  width: 22vw;
  height: auto;
}

.hero-past {
  background: url('../img/20180618_145105.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-past img{
  padding-top:0px;
  width: 22vw;
  height: auto;
}

.hero-future {
  background: url('../img/mt-hero.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-future img{
  padding-top:0px;
  width: 20vw;
  height: auto;
}


.hero-mtkenya {
  background: url('../img/IMG_2308.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-mtkenya img{
  padding-top:0px;
  width: 22vw;
  height: auto;
}

.hero-gear {
  background: url('../img/IMG_20230914_145410.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-gear img{
  padding-top:0px;
  width: 21vw;
  height: auto;
}

.hero-press {
  background: url('../img/1698391153866.JPG') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-press img{
  padding-top:0px;
  width: 21vw;
  height: auto;
}

.hero-contact {
  background: url('../img/IMG_20190813_183137795.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero-contact img{
  padding-top:0px;
  width: 21vw;
  height: auto;
}

.carousel-logoo{
  padding-top:0px;
  width: 22vw;
  height: auto;
}


@media (max-width:768px){
  .hero img{
    width: auto;
    height: 35vh;
  }

  .hero-abt img{
    width: auto;
    height: 35vh;

  }

  .hero-future img{
    width: auto;
    height: 35vh;

  }

  .hero-past img{
    width: auto;
    height: 35vh;

  }

  .hero-three img{
    width: auto;
    height: 35vh;

  }

  .hero-gear img{
    width: auto;
    height: 35vh;

  }

  .hero-press img{
    width: auto;
    height: 35vh;

  }

  .hero-contact img{
    width: auto;
    height: 35vh;

  }


  .carousel-logoo{
    width: auto;
    height: 35vh;

  }

  .hero-abt .container{
  
    padding-left: 100px;
  }


}



#sidenav{
  width: 220px;
  background-color: transparent !important;
  transition: left 0.3s ease, background-color 0.3s ease;
}
.flex-column{
  padding-top: 9vh;
}
@media (max-width: 768px) {
  .navbar {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.8), rgba(192, 192, 192, 0.6)); /* Semi-transparent gradient */
  }
}


#sidenav .nav-link{
  font-family: 'ZuumeRoughbold', sans-serif;
  font-size: clamp(20px, 20vw, 35px);
  color: var(--light-color);
}

#sidenav .nav-link:hover{
  background-color: #757575;
  color: #D84315;

}

.nav-item .dropdown-menu {
  position: absolute;
  left: 100%; /* Position the menu to the right of the dropdown toggle */
  top: 0; /* Align it vertically with the toggle */
  min-width: 220px; /* Adjust the width of the menu */
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
  background-color: #757575;
}

#sidenav .dropdown-item{
  background-color: #757575;
  font-family: 'ZuumeRoughbold', sans-serif;
  font-size: clamp(20px, 20vw, 25px);
  color: var(--light-color);

}

#sidenav .dropdown-item:hover{
  background-color: #757575;
  font-family: 'ZuumeRoughbold', sans-serif;
  font-size: clamp(20px, 20vw, 25px);
  color: var(--dark-color);

}

 /* Sidebar when opened */
 #sidebar.open {
  left: 0; 

}

  /* Toggler Button */
  .navbar-toggler {
    position: fixed;
    top: 35px;
    right: 20px;
    z-index: 1050; /* Ensure it's above the sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
  }

    /* Small Screens (Sidebar Hidden by Default) */
    @media (max-width: 768px) {
      #sidenav {
        position: fixed;
        left: -220px; /* Sidebar starts hidden */
        transition: left 0.3s ease;
      }
    
      #sidenav.open {
        left: 0; /* Sidebar slides in */
      }
    }

    .recent-endevours img {
      object-fit: cover; /* Maintains proportions while filling the space */
    }

  /* Reduce the height of all columns */
  .carousel-item .row {
    height: 350px; /* Adjust this as needed */
  }

  /* Style for left and right columns */
  .small-column img {
    opacity: 0.5; /* De-emphasize */
    transition: all 0.5s ease; /* Smooth hover effect */
  }

  /* Style for center column */
  .center-column img {
    opacity: 1; /* Highlight */
    transform: scale(1.1); /* Slight zoom */
    transition: all 0.5s ease;
  }

  /* On hover, make the smaller columns slightly larger */
  .small-column img:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }

  #latest-expeditions img{
    height: 75vh;
    object-fit: cover;
  }
  #latest-expedition img{
    height: 50vh;
    object-fit: cover;
  }
  #custom-rides img{
    height: 250px;
  }


/*about section*/
@media (min-width:768px) {
  .about .container,#achievements{
    padding-left: 120px;
    padding-right: 120px;
  }
  
}


.imginsta{
  height: 40vh;
}


.gallery-image {
  width: 100%;
  height: 40vh;
  border-radius: 8px;
}
.gallery-item {
  margin-bottom: 15px;
}

